//
//font varibales
//
$font_1_LTR:"Nunito";
$font_2_LTR:"Montserrat";

$font_1_RTL:"cairo";
$font_2_RTL:"cairo";

$fontMain:'';
$fontSecondary:'';





$ma-main-color: '';
$ma-accent-color: '';


//colors varibales

$ma-white-color:#fff;
$ma-black-color:#121212;


$ma-grey-color:#f1f1f1;
$ma-semi-dark-grey-color:#5f5f5f;
$ma-dark-grey-color:#4d4d4d;
$ma-extra-dark-grey-color:#252525;




$transparent-black-50:rgba(0, 0, 0, .5);
$transparent-black-25:rgba(0, 0, 0, .25);
$transparent:rgba(0, 0, 0, 0);



//$theme is a varible located on [0-config/theme-x.scss] file

@if $theme=='theme-1-colors' {
    $ma-main-color: #228058;
    $ma-accent-color: #0a6336;
}



$overlay-color-opacity-val-25:.25;
$overlay-color-opacity-val-50:.5;
$overlay-color-opacity-val-75:.75;
$overlay-color-opacity-val-100:1;


$overlay-color-opacity-val: .5;