/* Start ma-tabs rules */
.ma-tabs {
  .tabs-links-list {
    position: relative;
    padding: .5rem 0rem;
    margin: 0;
    margin-bottom: 1rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba($ma-black-color, .25);

    @include ma-xs-screens {
      flex-wrap: nowrap;
    }
  }

  .b-line {
    position: absolute;
    #{$start-direction}: 0;
    width: 120px;
    border-radius: 1rem;
    bottom: 0;
    height: 3px;
    background-color: $ma-main-color;
    will-change: left, width;
    @include ma-transition(all, .3s);

  }


  .tab-link {

    padding: .5rem 1rem;
    text-transform: capitalize;
    font-size: 1.25rem;
    font-weight: 900;
    margin-#{$end-direction}: 3rem;
    color: $ma-white-color;
    opacity: .75;

    border-radius: 5rem;
    cursor: pointer;
    @include ma-transition(all, .3s);

    &:last-child {
      margin-#{$end-direction}: 0;
    }


    &.active,
    &:hover {
      color: $ma-main-color;
      opacity: 1;

    }



    // @include ma-md-screens {
    //   font-size: 1rem;
    //   margin-#{$end-direction}: 0;
    // }

    // @include ma-xs-screens {
    //   font-size: .85rem;
    //   margin-#{$end-direction}: 0;
    // }


  }




  .switch {

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    .switch-btns-list {
      padding: .5rem;
      margin: 0;
      margin-bottom: 1rem;
      list-style: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      border-radius: 5rem;

      .switch-btn {
        position: relative;
        padding: .75rem 1rem;
        display: inline-block;
        border: 2px solid rgba($ma-semi-dark-grey-color, .65);
        min-width: 100px;
        color: rgba($ma-semi-dark-grey-color, .65);
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1;
        text-transform: capitalize;
        @include ma-transition(all, .3s, ease-in);
        cursor: pointer;

        &:first-child {
          // border-top-#{$start-direction}-radius: 5rem;
          // border-bottom-#{$start-direction}-radius: 5rem;
          border-#{$end-direction}: none;
        }

        &:last-child {
          // border-top-#{$end-direction}-radius: 5rem;
          // border-bottom-#{$end-direction}-radius: 5rem;
          border-#{$start-direction}: none;
        }


        &:hover {
          border-color: $ma-main-color;
          color: $ma-main-color;
        }

        &.active {
          color: $ma-white-color;
          background-color: $ma-main-color;
          border-color: $ma-main-color;
        }


      }

    }





    .toggle-btn {
      width: 80px;
      height: 30px;
      display: inline-block;
      position: relative;
      background-color: $ma-main-color;
      border-radius: 2rem;
      z-index: 0;
      -webkit-appearance: none;
      outline: none;
      left: 0;
      right: 0;
      margin-left: 1rem;
      margin-right: 1rem;
      cursor: pointer;
      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        #{$start-direction}: 0;

        top: 0;
        border: .25rem solid $ma-main-color;
        background-color: $ma-white-color;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        z-index: -1;
        @include ma-transition(all, .3s);
      }

      &:checked {

        &::before {
          #{$start-direction}: 100%;
          transform: translateX(-100% * $x-axe-direction);

        }


      }



    }


  }










  .tabs {
    overflow: hidden;

    .tab-content {
      display: none;
      padding: 2rem 0;
    }


    .visibale-tab {

      display: block;
      animation: fadeIn .8s ease-in-out;

    }


  }
}

/* End ma-tabs rules */