.err-404 {
  position: relative;
  z-index: 0;
  height: 100vh;
  padding: 120px 0;
  @include linear-gradient-bg();

  @include ma-md-screens {
    height: auto;
    min-height: 100vh;
  }

  @media (max-height:600px) {
    height: auto;
  }

  .overlay-shape-image-bg {
    background-image: url('../assets/Images/hero/shapes-bg.png');
    opacity: $overlay-color-opacity-val;
  }

  .overlay-photo-image-bg {
    background-image: url('../assets/Images/sections-bg-images/404.jpg');
    opacity: $overlay-color-opacity-val;
    z-index: -1;
  }

  .img-wraper {
    text-align: center;
    margin-bottom: 1rem;


    .img-404 {
      max-width: 500px;
      width: 100%;
      height: auto;
      display: inline-block;
      margin-top: -6rem;
    }
  }


  .err-title {
    font-size: 15rem;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 0;
    color: $ma-white-color;

    @include ma-md-screens {
      font-size: 6rem;
    }
  }

  .err-subtitle {
    color: $ma-grey-color;
    font-size: 4rem;
    font-family: $fontSecondary;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 1rem;

    @include ma-md-screens {
      font-size: 2rem;
    }
  }

  .err-text {
    color: $ma-grey-color;
    font-size: 1.25rem;
    text-transform: capitalize;
    margin-bottom: 1rem;

    @include ma-md-screens {
      font-size: 1rem;
    }
  }


  .search-form {
    position: relative;
    z-index: 0;
    margin-bottom: 2rem;
  }

  .search-input {
    border: 2px solid rgba($ma-white-color, .5);
    border-radius: 5rem;
    font-size: 1.1rem;
    padding: .5rem 1rem;
    outline: none;
    color: $ma-main-color;
    -webkit-appearance: none;
    width: 100%;
    @include ma-transition();

    &:focus {
      border-color: rgba($ma-white-color, 1);
    }
  }

  .search-btn {
    position: absolute;
    width: 70px;
    height: 100%;
    -webkit-appearance: none;
    border: none;
    outline: none;
    background: $ma-main-color;
    #{$end-direction}: 0rem;
    top: 50%;
    transform: translateY(-50%);
    //using long border radius values to make it correct at rtl pages
    border-top-#{$start-direction}-radius: 0;
    border-top-#{$end-direction}-radius: 2rem;
    border-bottom-#{$end-direction}-radius: 2rem;
    border-bottom-#{$start-direction}-radius: 0;
    @include ma-transition;
    cursor: pointer;

    .icon {
      color: $ma-white-color;
      @include ma-transition;
    }

    &:hover {
      background: $ma-white-color;

      .icon {
        color: $ma-main-color;
      }
    }

  }



}