.benefits {

  .benefits-boxes-area {

    position: relative;
    border: 1px solid rgba($ma-main-color, .5);

    &::before,
    &::after {
      content: '';
      position: absolute;
      background-color: rgba($ma-main-color, .5);
      z-index: 1;
    }

    &::before {
      height: 1px;
      width: 100%;
      top: 50%;
      #{$start-direction}: 0;
      transform: translateY(-50%);
    }

    &::after {
      width: 1px;
      height: 100%;
      top: 0;
      #{$start-direction}: 50%;
      transform: translateX(50% * $x-axe-direction);
    }

    @include ma-xs-screens {


      &::before,
      &::after {
        display: none;

      }
    }

    .benefit-box {
      overflow: hidden;
      @include ma-transition;
      background: inherit;
      padding: 2rem;
      text-align: center;

      .benefit-icon {
        margin-bottom: 1.5rem;
        color: $ma-main-color;
        font-size: 2.5rem;
        // -webkit-text-stroke-color: $ma-main-color;
        // -webkit-text-stroke-width: 2px;
        // -webkit-text-fill-color: transparent;
        @include ma-transition();

      }

      .benefit-icon_img {
        display: block;
        width: 120px;
        height: 60px;
        margin: 0 auto 1.5rem;
        @include ma-transition();
      }

      .benefit-title {
        font-size: 1.35rem;
        font-weight: 700;
        font-family: $fontSecondary;
        color: $ma-extra-dark-grey-color;
        text-transform: capitalize;
      }



      .benefit-text {
        color: $ma-semi-dark-grey-color;
        font-size: 1rem;
        font-weight: 600;
      }

      &:hover {

        .benefit-icon,
        .benefit-icon_img {
          transform: translateY(-10px);
        }

      }


      @include ma-xs-screens {
        border-bottom: 1px solid rgba($ma-main-color, .5);
        padding: 2rem 3rem;

      }
    }
  }


  .benefits-image-area {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 100%;
    #{$end-direction}: 0;
    top: 0;
    overflow: hidden;
    z-index: 0;

    .video-wraper {
      display: inline-block;
      position: absolute;
      top: 50%;
      #{$start-direction}: 50%;
      transform: translate(-50% * $x-axe-direction, -50%);
      z-index: 3;
    }

    &>img {
      width: 100%;
      max-width: 100%;
      height: auto;
      min-height: 100%;
      transform-origin: center;
      object-fit: cover;
      @include ma-transition();

    }

    .overlay-color {
      opacity: .35;
      z-index: 1;
      @include ma-transition(all, .3s);
    }


    @include ma-md-screens {

      position: relative;
      width: 100%;
      max-height: 360px;

    }
  }

}