.page-footer {
  padding-top: 4rem;
  position: relative;
}

.footer-cols {
  overflow: hidden;
  margin-bottom: 2rem;
}


.footer-col {
  margin-bottom: 1.5rem;
}

.footer-col-title {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 1rem;
  color: $ma-extra-dark-grey-color;

}

.footer-text-about-us {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.75;
  padding-#{$end-direction}: 1rem;
  margin-bottom: 1.25rem;
  color: ($ma-dark-grey-color);
}

.sc-wraper {
  padding: 0;

}

.contact-info-card {
  font-weight: 600;
  padding: 0;
  padding-bottom: 1rem;
  border-radius: .5rem;
  @include ma-transition(all, .3s);

  &:last-of-type {
    padding-bottom: 0;
  }

  .icon {
    font-size: 1.25rem;
    width: 1.5rem;
    text-align: center;
    margin-#{$end-direction}: .5rem;
    vertical-align: middle;
    color: $ma-main-color;
  }

  .info {
    text-decoration: none;
    font-size: .85rem;
    font-weight: 500;
    color: ($ma-dark-grey-color);
    display: inline-block;
    @include ma-transition(all, .25s);

    &:hover {
      color: $ma-main-color;
      transform: translateX(.25rem * $x-axe-direction)
    }


  }

}

.footer-menu {
  list-style: none;
  padding: 0;
  margin: 0;

  &-item {
    display: block;
    position: relative;
    padding-bottom: 1rem;
  }


  &-link {
    font-weight: 500;
    font-size: .85rem;
    text-decoration: none;
    text-transform: capitalize;
    text-decoration: none;
    color: $ma-semi-dark-grey-color;
    display: inline-block;
    @include ma-transition(all, .25s);

    &:hover {
      color: $ma-main-color;
      text-decoration: none;
      transform: translateX(.25rem * $x-axe-direction)
    }
  }




}

.copyrights {
  padding: .5rem 0;
  overflow: hidden;


  .creadits {
    text-align:#{$start-direction};
    font-weight: 600;
    margin: 0;
    font-size: .85rem;
    color: ($ma-dark-grey-color);

    .link {
      font-weight: 600;
      color: $ma-main-color;
      text-decoration: none;
    }
  }

  .terms-links {
    text-align:#{$end-direction};

    &>a {
      text-decoration: none !important;
      font-weight: 600;
      @include ma-transition();
      color: ($ma-dark-grey-color);
      text-decoration: none;

    }


  }
}












.dark-color-footer {
  background-color: $ma-extra-dark-grey-color;


  .footer-col-title,
  .contact-info-card .icon,
  .sc-wraper .sc-list .sc-item:hover .sc-icon,
  .terms-links,
  .copyrights .creadits .link,
  .terms-links>a:hover {
    color: $ma-main-color;
  }

  .footer-text-about-us,
  .contact-info-card .info,
  .contact-info-card .info:hover,
  .footer-menu .footer-menu-link,
  .copyrights .creadits,
  .terms-links>a {

    color: $ma-grey-color;
  }

  .contact-info-card .info:hover,
  .footer-menu .footer-menu-link:hover,

  .copyrights .creadits .link {
    color: $ma-white-color;
  }
}



.light-color-footer {
  background-color: $ma-grey-color;

  .footer-col-title,
  .contact-info-card .icon,
  .terms-links,

  .copyrights .creadits .link,
  .sc-wraper .sc-list .sc-item:hover .sc-icon {
    color: $ma-main-color;
  }

  .footer-text-about-us,
  .contact-info-card .info,
  .footer-menu .footer-menu-link,
  .copyrights .creadits,
  .terms-links>a {

    color: $ma-dark-grey-color;
  }

  .contact-info-card .info:hover,
  .footer-menu .footer-menu-link:hover,
  .terms-links>a:hover {
    color: $ma-extra-dark-grey-color;
  }
}

.main-color-footer {
  background-color: $ma-main-color;
  border-top: 2px solid $ma-white-color;

  .copyrights {
    border-color: $ma-grey-color;
  }

  .sc-wraper .sc-list .sc-item:hover .sc-icon {
    color: $ma-main-color;
  }

  .contact-info-card .icon,
  .terms-links,
  .copyrights .creadits .link {
    color: $ma-grey-color;
  }

  .footer-col-title,
  .footer-text-about-us,
  .contact-info-card .info,
  .footer-menu .footer-menu-link,
  .copyrights .creadits,
  .terms-links>a {

    color: $ma-grey-color;
  }

  .contact-info-card .info:hover,
  .footer-menu .footer-menu-link:hover,
  .terms-links>a:hover {
    color: $ma-white-color;
  }
}




.index-page-footer {
  padding: 20px 0;
  text-align: center;
  border-top: 2px solid rgba($ma-main-color, .5);

  .footer-brand {
    text-decoration: none;
    display: inline-block;
    padding-bottom: 1rem;
    width: auto;

    img {
      width: 120px;
    }
  }

  .copyrights {

    display: block;
    text-align: center;
    color: $ma-main-color;


    font: {
      size: .8rem;
      weight: 500;
    }

    margin: 0;
  }
}