.portfolio-single {
    margin-top: 3rem;
    margin-bottom: 3rem;

    .project-heading {
        margin-bottom: 2rem;

        .project-title {
            font-size: 3rem;
            font-weight: 800;
            font-family: $fontSecondary;
            color: $ma-extra-dark-grey-color;
            text-transform: capitalize;
            margin-bottom: 1.5rem;

            @include ma-md-screens {
                font-size: 2.25rem;

            }
        }

        .project-subtitle {
            font-size: 1.1rem;
            font-weight: 300;
            font-style: italic;
            font-family: $fontSecondary;
            opacity: .85;
            text-transform: capitalize;
            line-height: 1.7;

            @include ma-md-screens {
                font-size: 1rem;

            }
        }


    }


    .featured-area {
        margin-bottom: 3rem;
    }

    .project-featured-img {
        max-height: 600px;
        overflow: hidden;

        .featured-img {
            width: 100%;
            max-width: 100%;
            height: auto;
            max-height: 600px;
            object-fit: cover;

        }
    }


    .info-area {
        margin-bottom: 1rem;


        .project-info {
            padding: 1rem 0;

            @include ma-lg-screens {
                margin-bottom: 0;
            }

            .info {
                color: $ma-main-color;
                margin-bottom: 2rem;

                display: flex;
                flex-direction: column;

                .title {
                    display: inline-block;
                    margin-#{$end-direction}: .25rem;
                    font-family: $fontSecondary;
                    font-size: 1.25rem;
                    font-weight: 600;
                    text-transform: capitalize;
                    color: $ma-main-color;
                    margin-bottom: .75rem;

                }

                .detail {
                    display: inline-block;
                    font-size: 1rem;
                    font-weight: 700;
                    text-transform: capitalize;
                    color: $ma-extra-dark-grey-color;
                    margin-bottom: 0;
                }

                .sc-item {

                    &:not(:last-child) {
                        margin-#{$end-direction}: 2rem;

                    }

                    .sc-icon {
                        color: $ma-extra-dark-grey-color;
                    }
                }
            }

        }
    }

    .main-area {
        .sub-heading {
            text-transform: capitalize;
            font-family: $fontSecondary;
            font-size: 2.25rem;
            font-weight: 700;
            margin-bottom: 1rem;
            color: $ma-extra-dark-grey-color;

            @include ma-md-screens {
                font-size: 1.75rem;
                font-weight: 700;
            }
        }

        .project-text {
            position: relative;
            font-size: 1.1rem;
            font-weight: 600;
            margin-bottom: 1.25rem;
            color: $ma-semi-dark-grey-color;

        }

        .list {
            list-style: none;
            padding: 0;
            margin: 0;
            padding-#{$start-direction}: 0;
            margin-bottom: 2rem;

            .list-item {
                padding: .5rem 1.5rem;
                padding-#{$start-direction}: 0;
                position: relative;
                text-transform: capitalize;
                font-weight: 600;
                font-size: 1.1rem;
                color: $ma-semi-dark-grey-color;
                display: flex;
                align-items: baseline;

                .icon {
                    color: $ma-main-color;
                    margin-#{$end-direction}: .5rem;
                    font-size: .85rem;
                }

            }
        }

        .project-video {
            min-height: 450px;
            position: relative;
            overflow: hidden;
            margin-top: 3rem;
            margin-bottom: 3rem;
            padding: 8rem 0;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            @include ma-md-screens {
                padding: 6rem 0;
                min-height: 300px;

            }

            .overlay-image-bg {
                background-image: url('../assets/Images/hero/hero-img-1.jpg');
                opacity: 1;

            }

        }

        .result-img {
            display: block;
            margin: 0 auto;
        }

    }

}