.take-action {
    background: $ma-main-color;
    padding: 150px 0;


    .wave-shape {
        background: $ma-main-color;
    }

    .section-heading {
        .section-title {
            color: $ma-grey-color;
        }

        .section-subtitle {
            color: $ma-grey-color;
        }

        .line-on-side,
        .line-on-center {
            background-color: $ma-white-color;
        }
    }


    .ma-btn-primary {
        background-color: transparent;
        border-color: $ma-white-color;
        color: $ma-white-color;

        &:hover {
            background-color: $ma-main-color;
            border-color: $ma-main-color;
            color: $ma-white-color;
        }
    }

    .overlay-photo-image-bg {

        background-image: url('../assets/Images/sections-bg-images/take-action.jpg');
        opacity: 1;
    }

    .overlay-color {
        opacity: $overlay-color-opacity-val !important;
    }




    .cta-wrapper {
        .cta-title {
            text-transform: capitalize;

            @include ma-md-screens {
                margin-bottom: 1.25rem
            }
        }

        .email-capture-form {
            position: relative;

            .email-lbl {
                text-transform: capitalize;
                display: block;
                font-size: .75rem;
                font-weight: 600;
                margin: 0 0 .5rem 0;
                // text-align: left //Always text-align:left
                text-align: #{$start-direction} //Always text-align:left
            }

            .captured-email {
                display: inline-block;
                font-size: 1.5rem;
                width: 100%;
                margin-bottom: 1.5rem;
                outline: none;
                padding: .25rem 1rem;
                border: 2px solid $ma-white-color;
                border-radius: 5rem;
                text-align: center;
                background: $transparent;
                color: $ma-white-color;

                &::placeholder {
                    color: rgba($ma-white-color, .5);
                }


            }

            .email-warning {
                position: absolute;
                bottom: -1.25rem;
                left: 0; //Always this span on the left
                font-size: .75rem;
                font-style: italic;
                color: $ma-grey-color;
            }

            .subscripe-btn {
                display: block;
                margin: 0 auto;
                border: 2px solid;
                border-radius: 5rem;
                padding: .5rem 3rem;
                font-size: 1rem;
                font-weight: 700;
                text-transform: capitalize;
                cursor: pointer;
                background: $ma-white-color;
                color: $ma-main-color;
                @include ma-transition();

                &:hover {
                    background: transparent;
                    color: $ma-white-color;
                    border-color: $ma-white-color;
                    transform: translateY(-2px);

                }

                &:focus {
                    outline: none !important;
                }
            }
        }
    }
}

.subscribe {
    .overlay-photo-image-bg {
        background-image: url('../assets/Images/sections-bg-images/subscribe.jpg');
        opacity: 1;

    }

    .overlay-color {
        opacity: $overlay-color-opacity-val !important;
    }

    .section-heading {
        .section-title {
            color: $ma-grey-color;
        }

        .section-subtitle {
            color: $ma-grey-color;
        }

        .line-on-side,
        .line-on-center {
            background-color: $ma-white-color;
        }


    }

    .cta-wrapper {
        padding: 2rem 0;

        @include ma-sm-screens {
            padding: 0;


        }
    }

    &.2-cols {
        .section-heading {
            margin-bottom: 0;

            @include ma-md-screens {
                margin-bottom: 1rem
            }

            .section-title {
                margin-bottom: 0;
            }
        }
    }


    .form-group {
        padding: 0;
        margin: 0;
        position: relative;

        input[type=email] {

            font-size: 1.75rem;
            width: 100%;
            padding: .5rem 1rem;
            outline: none !important;
            border: 1px solid $transparent;
            color: $ma-dark-grey-color;
            background: $ma-white-color;
            margin-bottom: 0;
            border-radius: .25rem;

            @include ma-md-screens {

                font-size: 1.5rem;
            }

            @include ma-xs-screens {
                font-size: 1rem;
            }
        }

    }

    .subscribe-btn {
        position: absolute;
        top: 0;
        #{$end-direction}: 0;
        height: 100%;
        padding: .5rem 2rem;

        &:hover {
            background: $ma-main-color;
            color: $ma-white-color;
            border-color: $ma-main-color;

        }

        @include ma-xs-screens {
            padding: .5rem 1rem;

        }
    }





}

.mc-form-wraper {
    position: relative;

    .mailchimp-alerts {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        #{$start-direction}: 0;
        z-index: -1;
        @include ma-transition;



        &.show-message {
            top: 100%;
            margin-top: .5rem;
            transform: translateY(0);
            z-index: 1;
        }


        .mc-msg {
            color: $ma-white-color;
            position: relative;

            .close-icon {
                font-size: .75rem;
                width: .75rem;
                height: .75rem;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: .75;

            }

            &.active {
                padding: .5rem .75rem;
            }
        }

        .mc-submitting {
            background-color: rgba(orange, .5);
        }

        .mc-success {
            background-color: rgba(green, .5);
        }

        .mc-error {
            background-color: rgba(red, .5)
        }


    }

}